version: '3.3'

services:
  db:
    image: kobe19881208/gtb-mysql:8.0.29
    container_name: todoapp_db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: "p@ssword"
      MYSQL_DATABASE: "sql-practice"
    ports:
      - "13307:3306"
    volumes:
      - ./data:/var/lib/mysql
      - ./init-sql:/docker-entrypoint-initdb.d
